mixin PriInput(label, type, name, placeholder)
  if type == 'password'
    .pri-input
      label(for=name)= label
      .box-input
        input.style-input(type=type, name=name, placeholder=placeholder)
        .show-pass
  else if type == 'search'
    .pri-input
      label(for=name)= label
      .box-input
        input.style-input(type='text', name=name, placeholder=placeholder)
        .search
  else if type === 'date'
    .pri-input
      label(for=name)= label
      .box-input
        input#date.style-input(type=type, name=name, placeholder=placeholder)
        .date
  else
    .pri-input
      label(for=name)= label
      input.style-input(type=type, name=name, placeholder=placeholder)

//- - var navigationData = [ { title: 'Home', link: '/' }, { title: 'About', link: '/about' }, { title: 'Contact', link: '/contact' } ];

mixin NavigationList(items)
  ul.navigation
    each item in items.length ? items : ['There are no items']
      li.navigation-item
        a.item-title(href=item.link, target='_self', title=item.title)= item.title
        if item.icon !== undefined && item.icon !== ''
          span.item-icon
            img(src=item.icon, alt=item.title)
